{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}


{# si je préferais le contenu, j'écrase le contenu présent dans la base #}
{% block body %}
    <h1>Welcome to the jean baptiste show!...OW come on</h1>
{% endblock %}