<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="icon" href="img/icon.png">
    <title>Here we are</title>
</head>
<body>
<main>
    <div class="container">
        <header>
            <h1>
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('img/logo.svg') }}" alt="Series | Home">
                </a>
            </h1>
            {% include'main/nav.html.twig' %}
        </header>
        {% block body %} Body par défaut {% endblock %}
        <footer>
            {% include'main/nav.html.twig' %}
        </footer>
    </div>
</main>

</body>
</html>
